<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<h1>Tu menú semanal</h1>

<div class="event stage-saturn start-800 end-930 length-4" >  Lunes </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Tortilla de espinacas <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
  <span>o para editar el número de personas para las que será esta receta </span> 
  <i class="material-icons"> settings </i>
  </div>
 
    <div class="event stage-earth start-1030 end-1030 length-4">Cena: Ensalada de atún al natural <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
      <span>o para editar el número de personas para las que será esta receta </span> 
      <i class="material-icons"> settings </i>
  </div>
   
  <br>
  <div class="event stage-mercury start-800 end-930 length-4 " > Martes </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Guiso de ternera <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
 
   
  <div class="event stage-earth start-1030 end-1030 length-4">Cena: Sepia a la plancha <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>

   
   <br>
  <div class="event stage-saturn start-800 end-930 length-4"> Miércoles </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Judías blancas con verduras <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   
  <div class="event stage-earth start-1030 end-1030 length-4">Cena: Merluza al horno <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   
  <br>
  <div class="event stage-mercury start-800 end-930 length-4"> Jueves </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Crema de calabacín con zanahoria <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   
  <div class="event stage-earth start-1030 end-1030 length-4">Cena: Tortilla de calabacín <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
 <br>
  <div class="event stage-saturn start-800 end-930 length-4"> Viernes </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Corazones de alcachofas con gambas <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   
  <div class="event stage-earth start-1030 end-1030 length-4">Cena: Pisto de berenjena <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   <br>
  <div class="event stage-mercury start-800 end-930 length-4"> Sábado </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Paella con pollo y verduras <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   
  <div class="event stage-earth start-1030 end-1030 length-4">Cena: Espárragos verdes con huevos <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
  <br>
  <div class="event stage-saturn start-800 end-930 length-4"> Domingo </div>
  <div class="event stage-earth start-1000 end-1000 length-4">Comida: Pasta rehogada con atún y cebolla <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
   
  <div class="event stage-earth start-1030 end-1030 length-4">Cena: Pechuga de pollo macerada en soja <span>Pulsa la rueda para ver las horas a las que cocinar </span> 
    <span>o para editar el número de personas para las que será esta receta </span> 
    <i class="material-icons"> settings </i>
</div>
  
