

             <h2>¿Qué comidas vas a preparar esta semana?</h2>

             <div style="padding-left: 50px; padding-right: 50px;">
                       
              <a routerLink="/limpia" routerLinkActive="active"><input type="button" id="limpia"  value="Cancelar"> </a>
              
              <a routerLink="/crear menu" routerLinkActive="active"><input type="button" id="crear"  value="Guardar"> </a>
            
                   </div>
          
              <h2>Lunes</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
              <br>
              <h2>Martes</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
              <br>
              <h2>Miércoles</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
              <br>
              <h2>Jueves</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
              <br>
              <h2>Viernes</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
              <br>
              <h2>Sábado</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
              <br>
              <h2>Domingo</h2>
              <mat-checkbox> Comida </mat-checkbox>
              <br>
              <mat-checkbox> Cena </mat-checkbox>
          

